h1 {
    color: teal;
    border-bottom-style: solid;
    border-bottom-color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-footer {
    text-align: center;
    position: fixed;
    text-align: center;
    left:0px;
    bottom:0px;
    width:100%;
}

img{
    margin-top: 5%;
    width: 200px;
    height: 200px;
    margin: 2%;
}

body{
    background-image: url(./Images/morocco/morocco.png)
}